@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;

  /* color-scheme: light light; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  --color-orange: #f24613;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}




a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.header {
  background: #f24613;
  padding: 10px;
  color: #fff;
}

.headrow div {
  background: #ccd1a8;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bodyrow div {
  border: 1px solid #9d9d9d;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background: var(--color-orange);
  color: #fff;
  margin-bottom: 10px;
  display: inline-block;
}

a.btn:hover {
  background: var(--color-orange);
  color: #fff;
}

/* TABLE PDF*/
table {
  width: 100%;
  border: 1px;
  border-collapse: collapse;
}

table tr th,
table tr td {
  border: 1px solid #777;
  padding: 3px 8px;
  text-align: left;
}

table tr th {
  font-weight: bold;
  background: #ddd;
}